
@{
    ViewData["Title"] = "League";
}

@model IEnumerable<FootballApplication.ViewModels.LeagueTableDetails>
<div class="row content-title">
    <div class="column-left col-6 center">
        <h2>
            @ViewData["League-Title"]

        </h2>
    </div>
</div>
<div class="row">
    <div class="col-12 table-information">
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th class="position">P</th>
                        <th class="team-name">Team</th>
                        <th class="club-statistics">M</th>
                        <th class="club-statistics">W</th>
                        <th class="club-statistics">D</th>
                        <th class="club-statistics">L</th>
                        <th class="club-statistics">G+</th>
                        <th class="club-statistics">G-</th>
                        <th class="club-statistics">GD</th>
                        <th class="club-statistics">P</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Select((value, index) => new { value, index }))
                    {
                        <tr class="league-team" data-team-id=@item.value.teamID>
                            <td class="position">
                                @(item.index + 1)
                            </td>
                            <td class="team-name">
                                <div class="club-image align-center float-left" style="padding-right:20px;">
                                    <img src=@item.value.teamCrest />
                                </div>
                                <div class="club-name align-center">
                                    @item.value.teamName.Trim()
                                </div>
                            </td>
                            <td class="club-statistics">
                                @item.value.matchesPlayed
                            </td>
                            <td class="club-statistics">
                                @item.value.wins
                            </td>
                            <td class="club-statistics">
                                @item.value.draws
                            </td>
                            <td class="club-statistics">
                                @item.value.loses
                            </td>
                            <td class="club-statistics">
                                @item.value.goalsScored
                            </td>
                            <td class="club-statistics">
                                @item.value.goalsConceded
                            </td>
                            <td class="club-statistics">
                                @(item.value.goalsDifference)
                            </td>
                            <td class="club-statistics">
                                @item.value.points
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

